Net LED<7> LOC=T11  |  IOSTANDARD=LVCMOS33;
Net LED<6> LOC=R11  |  IOSTANDARD=LVCMOS33;
Net LED<5> LOC=N11  |  IOSTANDARD=LVCMOS33;
Net LED<4> LOC=M11  |  IOSTANDARD=LVCMOS33;
Net LED<3> LOC=V15  |  IOSTANDARD=LVCMOS33;
Net LED<2> LOC=U15  |  IOSTANDARD=LVCMOS33;
Net LED<1> LOC=V16  |  IOSTANDARD=LVCMOS33;
Net LED<0> LOC=U16  |  IOSTANDARD=LVCMOS33;
#Net YT LOC=U16  |  IOSTANDARD=LVCMOS33;
#
#Net BTN<0> LOC=D9  |  IOSTANDARD=LVCMOS33;
#Net BTN<1> LOC=C9  |  IOSTANDARD=LVCMOS33;
#Net BTN<2> LOC=C4  |  IOSTANDARD=LVCMOS33;
#Net BTN<3> LOC=A8  |  IOSTANDARD=LVCMOS33;
#Net BTN<4> LOC=B8  |  IOSTANDARD=LVCMOS33;
#
#Net SW<0> LOC=T10  |  IOSTANDARD=LVCMOS33;
#Net SW<1> LOC=T9   |  IOSTANDARD=LVCMOS33;
#Net SW<2> LOC=V9   |  IOSTANDARD=LVCMOS33;
#Net SW<3> LOC=M8   |  IOSTANDARD=LVCMOS33;
#
#Net SW<4> LOC=N8   |  IOSTANDARD=LVCMOS33;
#Net SW<5> LOC=U8   |  IOSTANDARD=LVCMOS33;
#Net SW<6> LOC=V8   |  IOSTANDARD=LVCMOS33;
#Net SW<7> LOC=T5   |  IOSTANDARD=LVCMOS33;

#Net AT LOC=T10  |  IOSTANDARD=LVCMOS33;
#Net BT LOC=T9   |  IOSTANDARD=LVCMOS33;
#Net CT LOC=V9   |  IOSTANDARD=LVCMOS33;


#
#Net SSEG_CA<0> LOC=T17  |  IOSTANDARD=LVCMOS33;
#Net SSEG_CA<1> LOC=T18  |  IOSTANDARD=LVCMOS33;
#Net SSEG_CA<2> LOC=U17  |  IOSTANDARD=LVCMOS33;
#Net SSEG_CA<3> LOC=U18  |  IOSTANDARD=LVCMOS33;
#Net SSEG_CA<4> LOC=M14  |  IOSTANDARD=LVCMOS33;
#Net SSEG_CA<5> LOC=N14  |  IOSTANDARD=LVCMOS33;
#Net SSEG_CA<6> LOC=L14  |  IOSTANDARD=LVCMOS33;
#Net SSEG_CA<7> LOC=M13  |  IOSTANDARD=LVCMOS33;
#
#Net SSEG_AN<0> LOC=P17  |  IOSTANDARD=LVCMOS33;
#Net SSEG_AN<1> LOC=P18  |  IOSTANDARD=LVCMOS33;
#Net SSEG_AN<2> LOC=N15  |  IOSTANDARD=LVCMOS33;
#Net SSEG_AN<3> LOC=N16  |  IOSTANDARD=LVCMOS33;
#
#Net uart_tx LOC=N18  |  IOSTANDARD=LVCMOS33;
#Net uart_rx LOC=N17  |  IOSTANDARD=LVCMOS33;
Net uart_tx LOC=G11 |  IOSTANDARD=LVCMOS33; #JD1
Net uart_rx LOC=D12 |  IOSTANDARD=LVCMOS33; #JD7
##
Net spi_sdo LOC=K2  |  IOSTANDARD=LVCMOS33; #JB1
Net spi_sdi LOC=K1  |  IOSTANDARD=LVCMOS33; #JB2
Net spi_cs  LOC=L4  |  IOSTANDARD=LVCMOS33; #JB3
Net spi_clk LOC=L3  |  IOSTANDARD=LVCMOS33; #JB4 
###
Net output_port_a<0> LOC=T12  |  IOSTANDARD=LVCMOS33; #JA1 
Net output_port_a<1> LOC=V12  |  IOSTANDARD=LVCMOS33; #JA2 
Net output_port_a<2> LOC=N10  |  IOSTANDARD=LVCMOS33; #JA3 
Net output_port_a<3> LOC=P11  |  IOSTANDARD=LVCMOS33; #JA4 
Net output_port_a<4> LOC=M10  |  IOSTANDARD=LVCMOS33; #JA7 
Net output_port_a<5> LOC=N9   |  IOSTANDARD=LVCMOS33; #JA8 
Net output_port_a<6> LOC=U11  |  IOSTANDARD=LVCMOS33; #JA9 
Net output_port_a<7> LOC=V11  |  IOSTANDARD=LVCMOS33; #JA10 

Net servo_0 LOC=H3 |  IOSTANDARD=LVCMOS33; 
Net servo_1 LOC=G1 |  IOSTANDARD=LVCMOS33;
#
Net clk100 LOC=V10  |  IOSTANDARD=LVCMOS33;

#
#JA1: T12  JB1: K2  JC1: H3  JD1: G11 
#JA2: V12  JB2: K1  JC2: L7  JD2: F10 
#JA3: N10  JB3: L4  JC3: K6  JD3: F11 
#JA4: P11  JB4: L3  JC4: G3  JD4: E11 
#JA7: M10  JB7: J3  JC7: G1   D7: D12 
#JA8: N9   JB8: J1  JC8: J7  JD8: C12 
#JA9: U11  JB9: K3  JC9: J6  JD9: F12 
#JA10:V11  JB10:K5 JC10: F2 JD10: E12 